.btn, .cmn--btn {
    padding: 12px 35px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    font-family: $heading;
    cursor: pointer;
    outline: none;
    border: 2px solid transparent;
    @include transition;
    text-align: center;
}
.cmn--btn {
    background: $base-color;
    color: $white;
    position: relative;
    &:hover, &.active {
        background: transparent;
        color: $base-color;
        border-color: $base-color;
    }
    &.active {
        &:hover {
            color: $white;
            background: $base-color;
        }
    }
}


.video-button {
    width: 55px;
    height: 55px;
    z-index: 1;
    border-radius: 50%;
    position: relative;
    background: $base-color;
    @extend %flex-center;
    @include breakpoint(max-xs) {
        width: 40px;
        height: 40px;
    } 
    &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        left: 50%;
        top: 50%;
        border-radius: 50%;
        border: 15px solid rgba($base-color, .8);
        animation: play-button 2s linear infinite;
    }
    &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        left: 50%;
        top: 50%;
        border-radius: 50%;
        border: 15px solid rgba($base-color, .8);
        animation: play-button 1.8s linear infinite;
        animation-delay: .5s;
    }
    i {
        font-size: 24px;
        color: $white;
        z-index: 1;
    }
}